<h1>information page</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人主页</title>
    <%= stylesheet_link_tag "infopage" %>
    <link rel="stylesheet" href="icon/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/personalpage.css" type="text/css" />

</head>
<body>
        <div id=navibar>
            <img id="navibarimg" src="image/navibar.png" width=70% height="100 px">
            <span id="signup">
                <h1 id="navibarright">婚恋引擎大师 &nbsp;
                    <a href="signup.html">
                        <i class="fa fa-power-off" aria-hidden="true">退出</i>
                    </a>
                </h1>  
            </span>
        </div>
        <div id="top">
            <div id="pinkbar">
                <h1 id="tag">
                    Finding your love here <i class="fa fa-gratipay" aria-hidden="true"></i>
                </h1>
                <div id="userimg">
                <%= image_tag @basicInfo.photo ,width:"200" ,height:"250"%>
                </div>
            </div>
            
        </div>
        <div id="showbox">
            <div id="inside" class="main">
                <h2>
                    <i class="fa fa-gratipay" aria-hidden="true"></i>内心独白
                </h2>
                <div id="block">

                </div>
            </div>
            <div id="profile" class="main">
                <h2>
                    <i class="fa fa-gratipay" aria-hidden="true"></i>个人资料
                </h2>
                <div id="block">
                <p>性别：<%= @sexdict.index(@alalyze.sex) %>
                住址：<%= @alalyze.local %>
                教育背景：<%= @educationdict.index(@alalyze.education) %></p>
                <p>婚姻状况：<%= @statusdict.index(@alalyze.status) %>
                身高：<%= @alalyze.height %>
                月收入情况：<%= @salarydict.index(@alalyze.salary) %></p>
                <p>民族：<%= @alalyze.nation %>
                体型：<%= @shapedict.index(@alalyze.shape) %>
                星座：<%= @zodiacdict.index(@alalyze.zodiac) %></p>
                <p>有孩子：<%= @hasChilddict.index(@alalyze.hasChild) %>
                想要孩子：<%= @wantChilddict.index(@alalyze.wantChild) %>
                结婚时间：<%= @marriageTimedict.index(@alalyze.marriageTime) %></p>
                <p>房子：<%= @housedict.index(@alalyze.house) %>
                车子：<%= @cardict.index(@alalyze.car) %>
                抽烟：<%= @smokedict.index(@alalyze.smoke) %>
                饮酒：<%= @drinkdict.index(@alalyze.drink) %></p>
                </div>
            </div>
            <div id="interests" class="main">
                <h2>
                    <i class="fa fa-gratipay" aria-hidden="true"></i>兴趣爱好
                </h2>
                <div id="block">
                    <p>最喜欢的歌：<%= @favor.song %></p>
                    <p>最喜欢的食物：<%= @favor.food %></p>
                    <p>最喜欢的东西：<%= @favor.thing %></p>
                    <p>最喜欢的人：<%= @favor.man %></p>
                </div>
            </div>
        </div>
        <div id="recommend">
            <div id="rectitle">
                <h2>猜你喜欢</h2>
            </div>
            <div id="recuser">
                <%= image_tag @rc1.photo ,width:"100" ,height:"100"%>
                <div id="briefintro">
                姓名：<%= @rc1.name %>
                城市：<%= @rc1.local %>
                <%= link_to("查看详情","/infopage/"+@rc1.id) %>
                </div>
            </div>
            <div id="recuser">
                <%= image_tag @rc2.photo ,width:"100" ,height:"100"%>
                <div id="briefintro">
                姓名：<%= @rc2.name %>
                城市：<%= @rc2.local %>
                <%= link_to("查看详情","/infopage/"+@rc2.id) %>
                </div>
            </div>
            <div id="recuser">
                <%= image_tag @rc3.photo ,width:"100" ,height:"100"%>
                <div id="briefintro">
                姓名：<%= @rc3.name %>
                城市：<%= @rc3.local %>
                <%= link_to("查看详情","/infopage/"+@rc3.id) %>
                </div>
            </div>
            <div id="recuser">
                <%= image_tag @rc4.photo ,width:"100" ,height:"100"%>
                <div id="briefintro">
                姓名：<%= @rc4.name %>
                城市：<%= @rc4.local %>
                <%= link_to("查看详情","/infopage/"+@rc4.id) %>
                </div>
            </div>
            <div id="recuser">
                <%= image_tag @rc5.photo ,width:"100" ,height:"100"%>
                <div id="briefintro">
                姓名：<%= @rc5.name %>
                城市：<%= @rc5.local %>
                <%= link_to("查看详情","/infopage/"+@rc5.id) %>
                </div>
            </div>
        </div>
    </body>
    </html>
